@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS */
@layer utilities {
    .cursor-pointer {
      cursor: url('/images/custom-pointer.png'), auto;
    }
}

body {
    cursor: url('/images/cursor.png'), auto;
}

.custom-cursor {
    width: 20px;
    height: 20px;
    background-color: #ff9900; /* 원하는 색상 설정 */
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease;
}
  
.star {
    width: 20px;
    height: 20px;
    background-color: #ffcc00; /* 별의 색상 설정 */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    pointer-events: none;
    animation: twinkle 1s infinite alternate;
    z-index: 9999;
}
  
@keyframes twinkle {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}